.vertical{
    /* display: table-cell; */
    vertical-align: middle;
}
.button{
    background-color:rgb(1, 68, 33) !important;
}

.reactionTime .p-inputtext .p-component .p-filled .p-inputnumber-input{
    width:10em;
}

.requiredInput{
    color: red;
}

.centerItems{
    display: flex;
    justify-content: center;
    align-self: center;
}