.footer{
    float: right;
    overflow-x:hidden;
    position:bottom;
    background-color: rgb(79, 121, 66) !important;
    
}
.footer-seperator{
    flex-grow: 1;
    border: none;
    height: 1px;
    background-color: black;
    width: 100%;
}
.footer-info{
    display: flex;
    justify-content: center;
    width:100%;
}

.footer-info-left,.footer-info-center,.footer-info-right{
    /* font-size: x-small; */
    display: flex;
    flex-direction: column;
    /* margin-bottom: 10px; */
    width: 30%;
}
